/* Main Page */

.navbar {
    background: linear-gradient(to right, #0043ae, #00235d);
    margin: auto;
}

h5 {
    color: white;
    display: inline-flex;
}

.dropdown {
    display:flex;
}

.collapse {
    margin-left: 2rem;
}
