/* Main Page */

.navbar {
    background: linear-gradient(to right, #0043ae, #00235d);
    margin: auto;
}

h5 {
    color: white;
    display: inline-flex;
}

h2 {
    text-align:center;
    margin-top: 2rem;
    font-weight: bolder;
    font-size: 25px;
    margin-right: 59rem;
    
}

.dropdown {
    display: flex;
}

.collapse {
    justify-content: right;
}

.profile-pic {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    display: flex
}

.introduction {
    margin-top: 150px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
}

.introduction p {
    font-size: 20px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.introduction h1 {
    font-weight: bold;
    margin-bottom: 3rem;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    font-size: 20px;
    font-weight: bolder;
    padding: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px auto;

}

.combobox {
    font-size: 20px;
    margin-top: 2rem;

}

/*Table*/

table {
    margin: auto;
    border-collapse: collapse;
    width: 80rem;
    justify-content: center;
    margin-top: 50px;
    
}

th {
    text-align:center;
    height: 3rem;
    font-size: 1.2rem;
    background-color: rgba(128, 128, 128, 0.604);
    
}

td {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
    line-height: 20px;
    font-family:Arial, Helvetica, sans-serif;
    
}

tr {
    height: 10px;
}

.button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;

}

.button:hover {
    background-color: #0056b3;
}