h5 {
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url('background-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 350px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem;
}

.school-logo {
    max-width: 100%;
    height: auto;
    height: 100px;
    width: 100px;
    margin: auto;

}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    margin-right: 175px;
    font: bolder;
}

input {
    margin: auto;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
    width: 250px;
    font-size: 12px;
    
}

button {
    padding: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    margin: 20px auto;
}

button:hover {
    background-color: #0056b3;
}
